{% extends 'layout.html' %}

{% block title %}
   New Groupp
{% endblock %}

{% block content %}
    <section class="new-post-cont">
        <h1>Новая группа</h1>
        <form class="form-with-validation" action="{% url 'communities:new-communitie' %}" method="post" enctype="multipart/form-data">
            <div class="csrf">{% csrf_token %} </div>
            <div class="form">{{ form }}</div>
            <button class="form-submit">Добавить группу</button>
        </form>
    </section>
{% endblock %}