* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 3rem;
    color: white;
}

body {
    display: flex;
    background: #3d3d3d;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}


main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

h1 {
    text-align: center;
}